/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

body {
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

/* Featured Section */
.featured {
    text-align: center;
    margin: 2rem auto;
}

.featured h2 {
    font-size: 32px;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}


main {
    margin: 20px auto;
    width: 50%;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#successMessage {
    color: green;
    font-weight: bold;
    margin-top: 10px;
}
/* Responsive Design for Mobile */
@media (max-width: 768px) {
    .navbar ul {
        display: block;
        text-align: center;
    }

    .navbar ul li {
        margin: 10px 0;
    }

    #animal-list {
        flex-direction: column;
        align-items: center;
    }

    .animal-card {
        width: 90%;
        margin-bottom: 20px;
    }
}
